footer {
  text-align: center;
  font-size: 0.9rem;
  line-height: 2em;
  padding: 30px 0;
}
footer .fa-fan {
  color: #00c4b6;
  -webkit-animation: IH 1s linear infinite;
  animation: IH 1s linear infinite;
}
footer #xiaohui {
  animation-name: turnZ;
  animation-duration: 1.94052s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@-moz-keyframes turnZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes turnZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes turnZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes turnZ {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
